# Análise do número de condutores com CNH no Brasil

1° Tarefa: Importar a biblioteca Pandas

In [4]:
import pandas as pd

2° Tarefa: Realizar a leitura do arquivo .csv (Os dados foram extraídos:https://dados.gov.br/dataset/renach/resource/61013862-1bd2-4f43-b0f8-e39a8bbe1c77)

In [5]:
df = pd.read_csv("./condutores_habilitados_2022_03.csv", sep = ';')
df.head()

,Região Habilitação Atual,UF Habilitação Atual,Sexo,Faixa Etária,Categoria,Qt. Condutor Histórico
0,Centro-Oeste,Distrito Federal,Masculino,18 a 21,A-Condutor Moto,102
1,Centro-Oeste,Distrito Federal,Masculino,18 a 21,AB-Condutor Moto/Carro,9927
2,Centro-Oeste,Distrito Federal,Masculino,18 a 21,AC-Condutor Moto/Caminhão,6
3,Centro-Oeste,Distrito Federal,Masculino,18 a 21,AD-Condutor Moto/Ônibus,29
4,Centro-Oeste,Distrito Federal,Masculino,18 a 21,B-Condutor Carro,15115

In [6]:
df.shape

(4861, 6)

3° Tarefa: Realizar o agrupamento das colunas para identificar os condutores por região, estado, faixa etária e sexo.

In [7]:
df.groupby('Região Habilitação Atual').sum()

                          Qt. Condutor Histórico
Região Habilitação Atual
Centro-Oeste                             7168642
Nordeste                                12048066
Norte                                    4032194
Sudeste                                 39276695
Sul                                     15190268

In [8]:
df.groupby('UF Habilitação Atual').sum()

                      Qt. Condutor Histórico
UF Habilitação Atual
Acre                                  256415
Alagoas                               618658
Amapá                                 163703
Amazonas                              715312
Bahia                                3054170
Ceará                                2264001
Distrito Federal                     1691312
Espírito Santo                       1594859
Goiás                                2848042
Maranhão                              932902
Mato Grosso                          1420752
Mato Grosso do Sul                   1208536
Minas Gerais                         7830688
Paraná                               5599145
Paraíba                               892520
Pará                                 1476070
Pernambuco                           2235853
Piauí                                 619963
Rio Grande do Norte                   863602
Rio Grande do Sul                    5331545
Rio de Janeiro                       5964966
Rondônia                              741780
Roraima                               161566
Santa Catarina                       4259578
Sergipe                               566397
São Paulo                           23886182
Tocantins                             517348

In [9]:
df.groupby('Faixa Etária').sum()

              Qt. Condutor Histórico
Faixa Etária
101 a 120                      57970
18 a 21                      2083806
22 a 25                      4970852
26 a 30                      8175617
31 a 40                     19618806
41 a 50                     16607378
51 a 60                     11975922
61 a 70                      8055527
71 a 80                      4004218
81 a 90                      1651529
91 a 100                      514234
Mais de 120                        6

In [11]:
df.groupby('Sexo').sum()

           Qt. Condutor Histórico
Sexo
Feminino                 27336935
Masculino                50378930